.timeline-event-form {
  &-group-colorpicker {
    .input-group-addon {
      background: none !important;

      &:last-child {
        border-left-width: 1px !important;
        border-left-color: $input-group-addon-border-color;
        border-left-style: solid;
      }

      &:not(:first-child) {
        border-left-width: 1px !important;
        border-radius: $input-border-radius !important;

        i {
          width: 80 - (2 * $padding-base-horizontal);
          height: $input-height-base - (2 * $padding-base-vertical);
          border-radius: $input-border-radius;
        }
      }

      &:not(.input-group-addon-colorpicker):last-child {
        border: 0px !important;
        padding-left: 2px !important;
        padding-right: 2px !important;
      }
    }
  }
}
