// Absolute values
$phaseHeight: 1vw !default;
$titleFontSize: 1.3vw !default;

// Size ratios
$phaseDiamondRatio: 2 !default;
$phaseConnectorRatio: 0.5 !default;
$titleDateRatio: 0.88 !default;
$titleConnectorRatio: 0.8 !default;

// Calculated values
$diamondHeight: $phaseHeight * $phaseDiamondRatio !default;
$dateFontSize: $titleFontSize * $titleDateRatio !default;
$connectorFontSize: $titleFontSize * $titleConnectorRatio !default;

.ember-timeline-milestone {
  display: inline-block;
  position: absolute;
  -webkit-transform: translate(-50%, 0);
  text-align: center;

  &-title {
    font-size: $titleFontSize;
    font-weight: bold;
    color: #686868;
  }

  &-date {
    font-size: $dateFontSize;
    color: #919191;
  }

  &-diamond {
    img {
      width: $diamondHeight;
      line-height: $diamondHeight;
    }
  }
}
