// Absolute values
$diamondWidth: 2em !default;
$titleFontSize: 1em !default;

// Size ratios
$titleDateRatio: 0.8 !default;

// Calculated values
$dateFontSize: $titleFontSize * $titleDateRatio !default;

.ember-timeline-milestone {
  display: inline-table;
  position: absolute;
  -webkit-transform: translate(-50%, 0);
  text-align: center;

  &-title {
    font-size: $titleFontSize;
    font-weight: bold;
    color: #686868;
  }

  &-date {
    font-size: $dateFontSize;
    color: #919191;
  }

  &-diamond {
    img {
      width: $diamondWidth;
      line-height: $diamondWidth * 1.21;
    }
  }
}
