<div class="timeline-milestone-title">{{model.title}}</div>
<div class="timeline-milestone-date">{{format-date model.start}}</div>
<div class="timeline-milestone-diamond">
  <img src="assets/images/diamond.svg" />
</div>
