// Absolute values
$diamondWidth: 2m!default;
$timelineMargin: 0.5em !default;

// Size ratios
$diamondSliderRatio: 1.27 !default;

.ember-timeline-slider {
  margin: $timelineMargin;

  .ui-rangeSlider {
    padding-top: 0px;
    height: $diamondWidth / $diamondSliderRatio;

    .ui-rangeSlider-container {
      height: 100%;

      .ui-rangeSlider-bar {
        height: 100%;
        margin: 0px;
      }

      .ui-rangeSlider-innerBar {
        height: 100%;
        margin: 0px;
        background: none !important;
      }

      .ui-rangeSlider-handle {
        height: 100%;
        width: 1vw;
        background: #b7b7b7;
      }
    }
  }
}
