// Absolute values
$timelineMargin: 0.5em !default;

.ember-timeline-beam {
  width: 100%;
  height: 50px;
  margin: $timelineMargin;

  &-line {
    stroke: #b7b7b7;
    stroke-width: 2;
    stroke-dasharray: 4 2;
  }

  &-terminal {
    stroke: #b7b7b7;
    stroke-width: 4;
  }
}
