// Absolute values
$timelineMargin: 0.5em !default;

.ember-timeline {
  position: relative;
  margin: $timelineMargin;
  overflow: hidden;

  .timeline-vbox-workaround * {
    visibility: hidden;
    position: static;
  }
}
