// Absolute values
$phaseHeight: 1vw !default;

// Size ratios
$phaseDiamondRatio: 2 !default;

.ember-timeline-phase {
  display: inline-block;
  position: absolute;
  bottom: $phaseHeight * ($phaseDiamondRatio - 1) / 2;
  height: $phaseHeight;
  z-index: -10;
}
