// Absolute values
$diamondHeight: 5vh !default;

// Size ratios
$diamondPhaseRatio: 3.5 !default;

// Calculated values
$phaseHeight: $diamondHeight / $diamondPhaseRatio !default;

.ember-timeline-phase {
  display: inline-block;
  position: absolute;
  bottom: ($diamondHeight - $phaseHeight) / 2;
  height: $phaseHeight;
  z-index: -10;
}
